/*Quebra a linha das colunas 2 e ultima */
table.quebra-linha-dois-ultima :is(td, th):nth-child(2),
table.quebra-linha-dois-ultima :is(td, th):last-child {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: anywhere !important;
}
